
# MSM Thermal thresholds
write  /sys/module/msm_thermal/parameters/enabled Y
write  /sys/module/msm_thermal/core_control/enabled 0
write  /sys/module/msm_thermal/parameters/temp_threshold 50
write  /sys/module/msm_thermal/parameters/core_limit_temp_degC 60

# Tune the sda block
write  /sys/block/sda/queue/read_ahead_kb 128
write  /sys/block/sda/queue/iosched/back_seek_penalty 4
write  /sys/block/sda/queue/iosched/low_latency 0
write  /sys/block/sda/queue/iosched/target_latency_us 300

# Hardware keys backlight control
on property:persist.hwkeys.backlight=enabled
    write /sys/class/leds/button-backlight/max_brightness 40
on property:persist.hwkeys.backlight=disabled
    write /sys/class/leds/button-backlight/max_brightness 0
